In [1]:
# Import Matplotlib, pandas, and plotly
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

In [13]:
#Read data from path
df1 = pd.read_csv("data/housing-real-estate-1.csv")
df1.head()

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37"
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45"
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20"
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71"

In [15]:
#Remove "NaN" values
df1.dropna(inplace = True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11551 entries, 0 to 12833
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               11551 non-null  int64
 1   property_type            11551 non-null  object
 2   place_with_parent_names  11551 non-null  object
 3   region                   11551 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  11551 non-null  int64
 6   price_usd                11551 non-null  object
dtypes: int64(2), object(5)
memory usage: 721.9+ KB

In [17]:
#Split lat and lon to new col and convert values to float
df1[["lat", "lon"]] = df1["lat-lon"].str.split("," , expand=True).astype(float)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11551 entries, 0 to 12833
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               11551 non-null  int64
 1   property_type            11551 non-null  object
 2   place_with_parent_names  11551 non-null  object
 3   region                   11551 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  11551 non-null  int64
 6   price_usd                11551 non-null  object
 7   lat                      11551 non-null  float64
 8   lon                      11551 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 902.4+ KB

In [19]:
df1["state"] = df1["place_with_parent_names"].str.split("|", expand = True)[2]
df1.head()

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd,lat,lon,state
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85",-9.644305,-35.708814,Alagoas
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37",-9.643093,-35.704840,Alagoas
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45",-9.622703,-35.729795,Alagoas
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20",-9.622837,-35.719556,Alagoas
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71",-9.654955,-35.700227,Alagoas

In [22]:
df1["price_usd"] = (df1["price_usd"]
                    .str.replace("$" ,"", regex = False)
                    .str.replace("," ,"", regex = False)
                    .astype(float)
                   )
df1.head()

AttributeError: Can only use .str accessor with string values!

In [23]:
df1.drop(columns=["place_with_parent_names", "lat-lon"], inplace=True)